<p>{{title}}</p>
<!-- <h1 *ngIf="userName==='Nabeel'; then ifBlock else elseBlock"></h1>
<ng-template #ifBlock>
    <p>True block</p>
</ng-template>
<ng-template #elseBlock>
    <p>False Block</p>
</ng-template> -->

<!-- <ng-template #ifOne [ngIf]="userName === 'Nabeel'">
    <p>Welcome {{userName}}</p>
</ng-template>
<ng-template [ngIf]="userName === 'Usama'">
    <p>Welcome {{userName}}</p>
</ng-template> -->

<div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'" style="color: red;">{{color}} color</h1>
    <h1 *ngSwitchCase="'green'" style="color: green;">{{color}} color</h1>
    <h1 *ngSwitchDefault>{{color}} color was not found</h1>
</div>